@{
    ViewData["Title"] = "Report List";
}
<style>

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom {
        transition: .5s ease;
        cursor: pointer;
    }

        /* [3] Finally, transforming the image when container gets hovered */
        .img-hover-zoom:hover {
            transform: scale(1.1);
            elevation: above;
            margin-left: 80px;
        }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    @foreach (string name in ViewBag.reportnamelist)
                    {

                        <div class="callout callout-danger img-hover-zoom" data-id="@name">
                            <h5>@name</h5>
                        </div>

                    }
                </div>
                <div class="col-sm-4"></div>
            </div>
            </div>
    </section>
    <!-- /.content -->
</div>

<script>
    $(function () {
        $('.callout').click(function () {
            window.open("/Reporter/GenerateReport?xmlname=" + $(this).data("id") + '.ecodex', '_blank');
        })
    })
</script>
