@model HRMS_WEB.Viewmodels.SubLevelViewmodel;
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sub levels</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sub levels</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @for (int i = 0; i < 25; i++)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="ribbon-wrapper ribbon-lg">
                                    <div class="ribbon bg-info">
                                        New sub level
                                    </div>
                                </div>
                                <div class="card-header text-muted border-bottom-0">
                                    Digital Strategist
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-8">
                                            <h2 class="lead"><b>Nicole Pearson</b></h2>
                                            <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                                            </ul>
                                        </div>
                                        <div class="col-4 text-center">
                                            <div class="round" data-value="0.5455" data-size="200" data-thickness="12">
                                                <strong style="position: absolute; top: 50%; left: 50%; margin-top: -40px; transform: translate(-50%); font-size: 20px; color: #212121; font-weight: 500;"></strong>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 text-center">
                                            <div style="height: 25px">

                                            </div>
                                            <img src="~/dist/img/user2-160x160.jpg" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Profile
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <nav aria-label="Contacts Page Navigation">
                    <div class="justify-content-end row d-flex">
                        @*<div>
                            Go to page
                        </div>
                        <div>
                            <input class="form-control pageinput" style="width: 50px; margin-left: 10px; margin-right: 10px" inputmode="numeric" value="1" />
                        </div>
                        <div style="padding:10px">
                            of
                        </div>
                        <div style="padding:10px">
                            @Html.DisplayFor(m => m.LastpageNumber)
                        </div>
                        <div>
                            <a class="proceedbtn btn btn-outline-primary">Proceed</a>
                        </div>*@
                    </div>
                </nav>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js"></script>
<script>
    $(document).ready(function () {
        $('.proceedbtn').click(function () {
            var pageindex = $('.pageinput').val();
            if (pageindex.toString() != "")
                location.href = "/SubLevel/Index/" + pageindex;
        });

        $('.round').circleProgress({
            fill: {
                gradient: ['#3aeabb', '#fdd250']
            },
            size: 100,
            thickness: 10,
        }).on('circle-animation-progress', function (event, progress, stepvalue) {
            $(this).find('strong').text(String(stepvalue.toFixed(2)).substr(2) + '%')
        });

    });
</script>